.rdrDateDisplayWrapper {
  display: none !important;
  border: solid red 2px;
}

.rdrEndEdge {
  background-color: black;
  color: #ffff;
}

.rdrStartEdge {
  background-color: black;
  color: #ffff;
}

.rdrInRange {
  color: black !important;
  /* background-color: #f7f7f7 !important; */
}
